# Directories
.sass-cache/
.idea/
.bundle/
bin/
vendor/

# Files
.DS_Store
*.elc
*.swp

# Project Settings
*pdf/
build/
*.yml
*.css
*.re
*.html
*.pdf
*.epub
!src/*.re
!.travis.yml
!settings/*.yml
!settings/*.css
