# Directories
.sass-cache/
.idea/
.bundle/
bin/
vendor/
stats/
node_modules/

# Files
.DS_Store
*.elc
*.swp

# Project Settings
*pdf/
build/
*.css
*.re
*.html
*.pdf
*.epub
redpen-*
!redpen-conf-ja.xml
!src/*.re
!styles/**/*.css
!.travis.yml
