/* サイトのヘッダー */
#ll-header {
    margin-bottom: 0;
}

/* サイトのロゴ */
#ll-header .ll-logo {
    height: auto;
    margin-top: 15px;
    padding: 15px;
}

/* サイトのグローバルナビゲーション */
#ll-nav {
    min-height: 0;
    margin-bottom: 0;
    border-width: 0;
}

/* サイトのグローバルナビゲーション内の各アイテム */
#ll-nav li {
    margin-right: 0;
}

/* サイトのグローバルナビゲーション内の各リンク */
#ll-nav li > a {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
}
/* 横幅が768px以上のときの設定 */
@media (min-width: 768px) {
    #ll-nav li > a {
        padding: 0.75em 5em;
        border-right: 1px solid #fff;
    }

    #ll-nav li:first-child > a {
        border-left: 1px solid #fff;
    }
}

/* グローバルナビゲーションの現在位置を示すスタイル */
#ll-nav .active > a {
    position: relative;
    pointer: default;
    pointer-events: none;
    background-color: #ff50ac;
    color: #fff;
}

/* グローバルナビゲーションの現在位置を示すスタイル */
#ll-nav .active > a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 5px solid #ffdc00;
}
